{% import './components/image.twig' as Image %}
{% import './components/button.twig' as Button %}
{% extends "base.twig" %} 

{% block content %}
    <section class="{{field.title}}-page padding" id="portfolio">
        <div class="container">
            <div class="portfolio-gallery">
                {% if field.meta("gallery") %}
                    {% for gallery in field.meta("gallery") %}
                    <a href="{{Image(gallery)}}" data-fancybox="gallery" data-caption="Portfolio Images">
                        <img src="{{Image(gallery)}}" alt="portfolio" data-aos="fade-in"/>
                    </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}


